myvenv/
Day 29 - Tkinter Password Manager/data.txt
Day 30 - Better Password Manager/data.json
Day 32 - Send Emails and Manage Dates/email_details.txt
Day 32 - Send Emails and Manage Dates/birthdays.csv
Day 35 - Keys Auth Envi Variables SMS/api_keys.json